{
  "x-generator": "NSwag v12.3.0.0 (NJsonSchema v9.14.1.0 (Newtonsoft.Json v13.0.0.0))",
  "swagger": "2.0",
  "info": {
    "title": "PublicAdminApi",
    "version": "1.0"
  },
  "host": "admin-api.axissecurity.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v1.0/Tags": {
      "post": {
        "tags": [
          "ApplicationGroups"
        ],
        "summary": "Create a New Application Group",
        "operationId": "ApplicationGroups_Create",
        "parameters": [
          {
            "name": "applicationGroupModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationGroupModelV1"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "409": {
            "x-nullable": true,
            "description": "Entity already exists",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "ApplicationGroups"
        ],
        "summary": "Get Application Groups",
        "operationId": "ApplicationGroups_Query",
        "parameters": [
          {
            "type": "integer",
            "name": "pageNumber",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    },
    "/api/v1.0/Tags/{id}": {
      "put": {
        "tags": [
          "ApplicationGroups"
        ],
        "summary": "Update an Existing Application Group",
        "operationId": "ApplicationGroups_Update",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "name": "applicationGroupModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationGroupModelV1"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "409": {
            "x-nullable": true,
            "description": "Entity already exists",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ApplicationGroups"
        ],
        "summary": "Delete Application Group by ID",
        "operationId": "ApplicationGroups_Delete",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "Entity deleted successfully"
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "ApplicationGroups"
        ],
        "summary": "Get Application Group by ID",
        "operationId": "ApplicationGroups_GetById",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    },
    "/api/v1.0/Applications": {
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "Create a New Application",
        "operationId": "Applications_Create",
        "parameters": [
          {
            "name": "appModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationModelV1"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "409": {
            "x-nullable": true,
            "description": "Entity already exists",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "501": {
            "x-nullable": true,
            "description": "Not supported error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Get Applications",
        "operationId": "Applications_Query",
        "parameters": [
          {
            "type": "integer",
            "name": "pageNumber",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    },
    "/api/v1.0/Applications/{id}": {
      "put": {
        "tags": [
          "Applications"
        ],
        "summary": "Update an Existing Application",
        "operationId": "Applications_Update",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "name": "appModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationModelV1"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "409": {
            "x-nullable": true,
            "description": "Entity already exists",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "501": {
            "x-nullable": true,
            "description": "Not supported error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Get Application by ID",
        "operationId": "Applications_GetById",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Applications"
        ],
        "summary": "Delete Application by ID",
        "operationId": "Applications_Delete",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "Entity deleted successfully"
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "501": {
            "x-nullable": true,
            "description": "Not supported error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    },
    "/api/v1.0/Commit": {
      "post": {
        "tags": [
          "Commit"
        ],
        "summary": "Commit Changes",
        "operationId": "Commit_CommitChanges",
        "responses": {
          "204": {
            "description": "Changes committed successfully"
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    },
    "/api/v1.0/Connectors": {
      "post": {
        "tags": [
          "Connectors"
        ],
        "summary": "Create a New Connector",
        "operationId": "Connectors_Create",
        "parameters": [
          {
            "name": "connectorModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectorModelV1"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "201": {
            "x-nullable": true,
            "description": "Connector created successfully",
            "schema": {
              "$ref": "#/definitions/ConnectorCreateResponseModelV1"
            }
          },
          "409": {
            "x-nullable": true,
            "description": "Entity already exists",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Connectors"
        ],
        "summary": "Get Connectors",
        "operationId": "Connectors_Query",
        "parameters": [
          {
            "type": "integer",
            "name": "pageNumber",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Connectors retrieved successfully",
            "schema": {
              "$ref": "#/definitions/PagedApiResponseOfIEnumerableOfConnectorModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    },
    "/api/v1.0/Connectors/{id}": {
      "put": {
        "tags": [
          "Connectors"
        ],
        "summary": "Update an Existing Connector",
        "operationId": "Connectors_Update",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "name": "connectorModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectorModelV1"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Connector updated successfully",
            "schema": {
              "$ref": "#/definitions/ConnectorModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "409": {
            "x-nullable": true,
            "description": "Entity already exists",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Connectors"
        ],
        "summary": "Get Connector by ID",
        "operationId": "Connectors_GetById",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Connector retrieved successfully",
            "schema": {
              "$ref": "#/definitions/ConnectorModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Connectors"
        ],
        "summary": "Delete Connector by ID",
        "operationId": "Connectors_Delete",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "Entity deleted successfully"
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    },
    "/api/v1.0/Connectors/{id}/regenerate": {
      "post": {
        "tags": [
          "Connectors"
        ],
        "summary": "Regenerate an Installation Command for an Exisitng Connector",
        "operationId": "Connectors_Regenerate",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Connector's installation command regenerated successfully",
            "schema": {
              "$ref": "#/definitions/ConnectorRegenerateResponseModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    },
    "/api/v1.0/Connectors/{id}/status": {
      "get": {
        "tags": [
          "Connectors"
        ],
        "summary": "Get the Status of a Connector",
        "operationId": "Connectors_Status",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Connector's status retrieved successfully",
            "schema": {
              "$ref": "#/definitions/ConnectorStatusResponseModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    },
    "/api/v1.0/ConnectorZones": {
      "post": {
        "tags": [
          "ConnectorZones"
        ],
        "summary": "Create a New Connector Zone",
        "operationId": "ConnectorZones_Create",
        "parameters": [
          {
            "name": "connectorZoneModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectorZoneModelV1"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "201": {
            "x-nullable": true,
            "description": "Connector Zone created successfully",
            "schema": {
              "$ref": "#/definitions/ConnectorZoneModelV1"
            }
          },
          "409": {
            "x-nullable": true,
            "description": "Entity already exists",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "ConnectorZones"
        ],
        "summary": "Get Connector Zones",
        "operationId": "ConnectorZones_Query",
        "parameters": [
          {
            "type": "integer",
            "name": "pageNumber",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Connector Zones retrieved successfully",
            "schema": {
              "$ref": "#/definitions/PagedApiResponseOfIEnumerableOfConnectorZoneModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    },
    "/api/v1.0/ConnectorZones/{id}": {
      "put": {
        "tags": [
          "ConnectorZones"
        ],
        "summary": "Update an Existing Connector Zone",
        "operationId": "ConnectorZones_Update",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "name": "connectorZoneModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectorZoneModelV1"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Connector Zone updated successfully",
            "schema": {
              "$ref": "#/definitions/ConnectorZoneModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "409": {
            "x-nullable": true,
            "description": "Entity already exists",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "ConnectorZones"
        ],
        "summary": "Get Connector Zone by ID",
        "operationId": "ConnectorZones_GetById",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Connector Zone retrieved successfully",
            "schema": {
              "$ref": "#/definitions/ConnectorZoneModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ConnectorZones"
        ],
        "summary": "Delete Connector Zone by ID",
        "operationId": "ConnectorZones_Delete",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "Entity deleted successfully"
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    },
    "/api/v1.0/IpCategories": {
      "post": {
        "tags": [
          "CustomIpCategory"
        ],
        "summary": "Create a New IP Category",
        "operationId": "CustomIpCategory_Create",
        "parameters": [
          {
            "name": "categoryModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomIpCategoryModelV1"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "201": {
            "x-nullable": true,
            "description": "IP Category created successfully",
            "schema": {
              "$ref": "#/definitions/CustomIpCategoryModelV1"
            }
          },
          "409": {
            "x-nullable": true,
            "description": "Entity already exists",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "CustomIpCategory"
        ],
        "summary": "Get IP Categories",
        "operationId": "CustomIpCategory_Query",
        "parameters": [
          {
            "type": "integer",
            "name": "pageNumber",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "IP Category retrieved successfully",
            "schema": {
              "$ref": "#/definitions/PagedApiResponseOfIEnumerableOfCustomIpCategoryModelV1"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    },
    "/api/v1.0/IpCategories/{id}": {
      "put": {
        "tags": [
          "CustomIpCategory"
        ],
        "summary": "Update an Existing IP Category",
        "operationId": "CustomIpCategory_Update",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "name": "categoryModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomIpCategoryModelV1"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "IP Category updated successfully",
            "schema": {
              "$ref": "#/definitions/CustomIpCategoryModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "409": {
            "x-nullable": true,
            "description": "Entity already exists",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "An unexpected error occurred while applying changes. Please try again later or contact support for assistance\nor\nInternal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            },
            "x-expectedSchemas": [
              {
                "description": "An unexpected error occurred while applying changes. Please try again later or contact support for assistance",
                "schema": {
                  "$ref": "#/definitions/PublicAdminApiError"
                }
              },
              {
                "description": "Internal server error",
                "schema": {
                  "$ref": "#/definitions/PublicAdminApiError"
                }
              }
            ]
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "CustomIpCategory"
        ],
        "summary": "Get IP Category by ID",
        "operationId": "CustomIpCategory_GetById",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "IP Category retrieved successfully",
            "schema": {
              "$ref": "#/definitions/CustomIpCategoryModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CustomIpCategory"
        ],
        "summary": "Delete IP Category by ID",
        "operationId": "CustomIpCategory_Delete",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    },
    "/api/v1.0/Groups": {
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Create a New Group",
        "operationId": "Groups_Create",
        "parameters": [
          {
            "name": "groupModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GroupModelV1"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "201": {
            "x-nullable": true,
            "description": "Group created successfully",
            "schema": {
              "$ref": "#/definitions/GroupModelV1"
            }
          },
          "409": {
            "x-nullable": true,
            "description": "Entity already exists",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Get Groups",
        "operationId": "Groups_Query",
        "parameters": [
          {
            "type": "integer",
            "name": "pageNumber",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Groups retrieved successfully",
            "schema": {
              "$ref": "#/definitions/PagedApiResponseOfIEnumerableOfGroupModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    },
    "/api/v1.0/Groups/{id}": {
      "put": {
        "tags": [
          "Groups"
        ],
        "summary": "Update an Existing Group",
        "operationId": "Groups_Update",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "name": "groupModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GroupModelV1"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Group updated successfully",
            "schema": {
              "$ref": "#/definitions/GroupModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "409": {
            "x-nullable": true,
            "description": "Entity already exists",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Get Group by ID",
        "operationId": "Groups_GetById",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Group retrieved successfully",
            "schema": {
              "$ref": "#/definitions/GroupModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Groups"
        ],
        "summary": "Delete Group by ID",
        "operationId": "Groups_Delete",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "Entity deleted successfully"
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    },
    "/api/v1.0/Health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health Check",
        "operationId": "Health_Get",
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Service health status with dependency checks retrieved successfully",
            "schema": {
              "$ref": "#/definitions/HealthResponseModel"
            }
          },
          "503": {
            "x-nullable": true,
            "description": "Service or dependencies are unhealthy",
            "schema": {
              "$ref": "#/definitions/HealthResponseModel"
            }
          }
        }
      }
    },
    "/api/v1.0/IpCategoriesFeed": {
      "post": {
        "tags": [
          "IpFeedCategory"
        ],
        "summary": "Create a New IP Category",
        "operationId": "IpFeedCategory_Create",
        "parameters": [
          {
            "name": "categoryModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IpFeedCategoryModelV1"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "201": {
            "x-nullable": true,
            "description": "IP Category created successfully",
            "schema": {
              "$ref": "#/definitions/IpFeedCategoryModelV1"
            }
          },
          "409": {
            "x-nullable": true,
            "description": "Entity already exists",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "IpFeedCategory"
        ],
        "summary": "Get IP Categories",
        "operationId": "IpFeedCategory_Query",
        "parameters": [
          {
            "type": "integer",
            "name": "pageNumber",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "IP Category retrieved successfully",
            "schema": {
              "$ref": "#/definitions/PagedApiResponseOfIEnumerableOfIpFeedCategoryModelV1"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    },
    "/api/v1.0/IpCategoriesFeed/{id}": {
      "put": {
        "tags": [
          "IpFeedCategory"
        ],
        "summary": "Update an Existing IP Category",
        "operationId": "IpFeedCategory_Update",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "name": "categoryModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IpFeedCategoryModelV1"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "IP Category updated successfully",
            "schema": {
              "$ref": "#/definitions/IpFeedCategoryModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "409": {
            "x-nullable": true,
            "description": "Entity already exists",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "An unexpected error occurred while applying changes. Please try again later or contact support for assistance\nor\nInternal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            },
            "x-expectedSchemas": [
              {
                "description": "An unexpected error occurred while applying changes. Please try again later or contact support for assistance",
                "schema": {
                  "$ref": "#/definitions/PublicAdminApiError"
                }
              },
              {
                "description": "Internal server error",
                "schema": {
                  "$ref": "#/definitions/PublicAdminApiError"
                }
              }
            ]
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "IpFeedCategory"
        ],
        "summary": "Get IP Category by ID",
        "operationId": "IpFeedCategory_GetById",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "IP Category retrieved successfully",
            "schema": {
              "$ref": "#/definitions/IpFeedCategoryModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "IpFeedCategory"
        ],
        "summary": "Delete IP Category by ID",
        "operationId": "IpFeedCategory_Delete",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    },
    "/api/v1.0/Locations": {
      "post": {
        "tags": [
          "Locations"
        ],
        "summary": "Create a New Location",
        "operationId": "Locations_Create",
        "parameters": [
          {
            "name": "locationModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LocationModelV1"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "201": {
            "x-nullable": true,
            "description": "Location created successfully",
            "schema": {
              "$ref": "#/definitions/LocationModelV1"
            }
          },
          "409": {
            "x-nullable": true,
            "description": "Entity already exists",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "Get Locations",
        "operationId": "Locations_Query",
        "parameters": [
          {
            "type": "integer",
            "name": "pageNumber",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Locations retrieved successfully",
            "schema": {
              "$ref": "#/definitions/PagedApiResponseOfIEnumerableOfLocationModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    },
    "/api/v1.0/Locations/{id}": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "Get Location by ID",
        "operationId": "Locations_GetById",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Location retrieved successfully",
            "schema": {
              "$ref": "#/definitions/LocationModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Locations"
        ],
        "summary": "Delete Location by ID",
        "operationId": "Locations_Delete",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "Entity deleted successfully"
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Locations"
        ],
        "summary": "Update an Existing Location",
        "operationId": "Locations_Update",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "name": "locationModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LocationModelV1"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Location updated successfully",
            "schema": {
              "$ref": "#/definitions/LocationModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "409": {
            "x-nullable": true,
            "description": "Entity already exists",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    },
    "/api/v1.0/SslExclusions": {
      "post": {
        "tags": [
          "SslExclusions"
        ],
        "summary": "Create a New SSL Exclusion",
        "operationId": "SslExclusions_Create",
        "parameters": [
          {
            "name": "sslExclusionModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SslExclusionModelV1"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "201": {
            "x-nullable": true,
            "description": "SSL Exclusion created successfully",
            "schema": {
              "$ref": "#/definitions/SslExclusionModelV1"
            }
          },
          "409": {
            "x-nullable": true,
            "description": "Entity already exists",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "SslExclusions"
        ],
        "summary": "Get SSL Exclusions",
        "operationId": "SslExclusions_Query",
        "parameters": [
          {
            "type": "integer",
            "name": "pageNumber",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "SSL Exclusions retrieved successfully",
            "schema": {
              "$ref": "#/definitions/PagedApiResponseOfIEnumerableOfSslExclusionModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    },
    "/api/v1.0/SslExclusions/{id}": {
      "put": {
        "tags": [
          "SslExclusions"
        ],
        "summary": "Update an Existing SSL Exclusion",
        "operationId": "SslExclusions_Update",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "name": "sslExclusionModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SslExclusionModelV1"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "SSL Exclusion updated successfully",
            "schema": {
              "$ref": "#/definitions/SslExclusionModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "409": {
            "x-nullable": true,
            "description": "Entity already exists",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "SslExclusions"
        ],
        "summary": "Get SSL Exclusion by ID",
        "operationId": "SslExclusions_GetById",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "SSL Exclusion retrieved successfully",
            "schema": {
              "$ref": "#/definitions/SslExclusionModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SslExclusions"
        ],
        "summary": "Delete SSL Exclusion by ID",
        "operationId": "SslExclusions_Delete",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "Entity deleted successfully"
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    },
    "/api/v1.0/Locations/{locationId}/SubLocations": {
      "post": {
        "tags": [
          "SubLocations"
        ],
        "summary": "Create a New SubLocation",
        "operationId": "SubLocations_Create",
        "parameters": [
          {
            "type": "string",
            "name": "locationId",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubLocationModelV1"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "201": {
            "x-nullable": true,
            "description": "SubLocation created successfully",
            "schema": {
              "$ref": "#/definitions/SubLocationModelV1"
            }
          },
          "409": {
            "x-nullable": true,
            "description": "Entity already exists",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "SubLocations"
        ],
        "summary": "Get SubLocations",
        "operationId": "SubLocations_Query",
        "parameters": [
          {
            "type": "string",
            "name": "locationId",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "pageNumber",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "SubLocations retrieved successfully",
            "schema": {
              "$ref": "#/definitions/PagedApiResponseOfIEnumerableOfSubLocationModelV1"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    },
    "/api/v1.0/Locations/{locationId}/SubLocations/{id}": {
      "get": {
        "tags": [
          "SubLocations"
        ],
        "summary": "Get SubLocation by ID",
        "operationId": "SubLocations_GetById",
        "parameters": [
          {
            "type": "string",
            "name": "locationId",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "SubLocation retrieved successfully",
            "schema": {
              "$ref": "#/definitions/SubLocationModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SubLocations"
        ],
        "summary": "Delete SubLocation by ID",
        "operationId": "SubLocations_Delete",
        "parameters": [
          {
            "type": "string",
            "name": "locationId",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "SubLocations"
        ],
        "summary": "Update an Existing SubLocation",
        "operationId": "SubLocations_Update",
        "parameters": [
          {
            "type": "string",
            "name": "locationId",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubLocationModelV1"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "SubLocation updated successfully",
            "schema": {
              "$ref": "#/definitions/SubLocationModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "409": {
            "x-nullable": true,
            "description": "Entity already exists",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    },
    "/api/v1.0/Tunnels": {
      "post": {
        "tags": [
          "Tunnels"
        ],
        "summary": "Create a New Tunnel",
        "operationId": "Tunnels_Create",
        "parameters": [
          {
            "name": "tunnelModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TunnelModelV1"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "201": {
            "x-nullable": true,
            "description": "Tunnel created successfully",
            "schema": {
              "$ref": "#/definitions/TunnelModelV1"
            }
          },
          "409": {
            "x-nullable": true,
            "description": "Entity already exists",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Tunnels"
        ],
        "summary": "Get Tunnels",
        "operationId": "Tunnels_Query",
        "parameters": [
          {
            "type": "integer",
            "name": "pageNumber",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Tunnels retrieved successfully",
            "schema": {
              "$ref": "#/definitions/PagedApiResponseOfIEnumerableOfTunnelModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
[...]
