{
  "openapi": "3.0.0",
  "info": {
    "title": "Security Director Cloud APIs",
    "contact": {},
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.sdcloud.juniperclouds.net/",
      "variables": {}
    }
  ],
  "paths": {
    "/api/v2/change-password": {
      "post": {
        "tags": [
          "IAM"
        ],
        "summary": "ChangePassword",
        "description": "",
        "operationId": "ChangePassword",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/iamChangePasswordRequest"
                  },
                  {
                    "example": {
                      "email": "string",
                      "current_password": "string",
                      "new_password": "string"
                    }
                  }
                ]
              },
              "example": {
                "email": "string",
                "current_password": "string",
                "new_password": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/iamChangePasswordResponse"
                    },
                    {
                      "example": {
                        "status": "SUCCESS"
                      }
                    }
                  ]
                },
                "example": {
                  "status": "SUCCESS"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/role/{ID}": {
      "get": {
        "tags": [
          "IAM"
        ],
        "summary": "GetRole",
        "description": "",
        "operationId": "GetRole",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "description": "ID of the role.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRoleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/roles": {
      "get": {
        "tags": [
          "IAM"
        ],
        "summary": "ListRoles",
        "description": "",
        "operationId": "ListRoles",
        "parameters": [
          {
            "name": "spec.size",
            "in": "query",
            "description": "Max number of entries to fetch.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spec.from",
            "in": "query",
            "description": "Starting offset of entries to fetch.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRolesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/send-activate-user-email": {
      "post": {
        "tags": [
          "IAM"
        ],
        "summary": "SendActivateUserEmail",
        "description": "",
        "operationId": "SendActivateUserEmail",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/iamSendEmailRequest"
                  },
                  {
                    "example": {
                      "email": "string"
                    }
                  }
                ]
              },
              "example": {
                "email": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {}
                },
                "example": {}
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/tenant/tenant-id": {
      "get": {
        "tags": [
          "IAM"
        ],
        "summary": "GetTokenScope",
        "description": "",
        "operationId": "GetTokenScope",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/iamGetTokenScopeResponse"
                    },
                    {
                      "example": {
                        "tenant_id": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "tenant_id": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/user": {
      "post": {
        "tags": [
          "IAM"
        ],
        "summary": "CreateUser",
        "description": "",
        "operationId": "CreateUser",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/iamCreateUserRPCResponse"
                    },
                    {
                      "example": {
                        "uuid": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "uuid": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/user/{user_id}": {
      "get": {
        "tags": [
          "IAM"
        ],
        "summary": "GetUser",
        "description": "",
        "operationId": "GetUser",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "ID of the user.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GetUserResponse"
                    },
                    {
                      "example": {
                        "user_info": {
                          "user_id": "string",
                          "email": "string",
                          "name": "string",
                          "status": "string",
                          "last_login": "string",
                          "role": [
                            {
                              "role_name": "string"
                            }
                          ]
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "user_info": {
                    "user_id": "string",
                    "email": "string",
                    "name": "string",
                    "status": "string",
                    "last_login": "string",
                    "role": [
                      {
                        "role_name": "string"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "IAM"
        ],
        "summary": "EditUser",
        "description": "",
        "operationId": "EditUser",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "Mandatory: User UUID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/iamEditUserResponse"
                    },
                    {
                      "example": {
                        "uuid": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "uuid": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/user/{uuid}": {
      "delete": {
        "tags": [
          "IAM"
        ],
        "summary": "DeleteUser",
        "description": "",
        "operationId": "DeleteUser",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "UUID of the user to be deleted",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/iamDeleteUserRPCResponse"
                    },
                    {
                      "example": {
                        "uuid": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "uuid": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/users": {
      "get": {
        "tags": [
          "IAM"
        ],
        "summary": "ListUsers",
        "description": "",
        "operationId": "ListUsers",
        "parameters": [
          {
            "name": "spec.size",
            "in": "query",
            "description": "Max number of entries to fetch.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spec.from",
            "in": "query",
            "description": "Starting offset of entries to fetch.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListUsersResponse"
                    },
                    {
                      "example": {
                        "users": [
                          {
                            "user_id": "string",
                            "email": "string",
                            "name": "string",
                            "status": "string",
                            "last_login": "string",
                            "role": [
                              {
                                "role_name": "string"
                              }
                            ]
                          }
                        ],
                        "user_count": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "users": [
                    {
                      "user_id": "string",
                      "email": "string",
                      "name": "string",
                      "status": "string",
                      "last_login": "string",
                      "role": [
                        {
                          "role_name": "string"
                        }
                      ]
                    }
                  ],
                  "user_count": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/bulk_site": {
      "post": {
        "tags": [
          "Site Management"
        ],
        "summary": "CreateBulkSite",
        "description": "",
        "operationId": "CreateBulkSite",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBulkSiteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {}
                },
                "example": {}
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/external-probe": {
      "get": {
        "tags": [
          "Site Management"
        ],
        "summary": "GetExternalProbe",
        "description": "",
        "operationId": "GetExternalProbe",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GetExternalProbeResponse"
                    },
                    {
                      "example": {
                        "external_probe": {
                          "probe_address": "string",
                          "ping_source_subnet": "string"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "external_probe": {
                    "probe_address": "string",
                    "ping_source_subnet": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Site Management"
        ],
        "summary": "DeleteExternalProbe",
        "description": "",
        "operationId": "DeleteExternalProbe",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {}
                },
                "example": {}
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Site Management"
        ],
        "summary": "CreateExternalProbe",
        "description": "",
        "operationId": "CreateExternalProbe",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ExternalProbeRequest"
                  },
                  {
                    "example": {
                      "external_probe": {
                        "probe_address": "string",
                        "ping_source_subnet": "string"
                      }
                    }
                  }
                ]
              },
              "example": {
                "external_probe": {
                  "probe_address": "string",
                  "ping_source_subnet": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {}
                },
                "example": {}
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/ipsec-profile": {
      "post": {
        "tags": [
          "Site Management"
        ],
        "summary": "CreateIpsecProfile",
        "description": "",
        "operationId": "CreateIpsecProfile",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIpsecProfile"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {}
                },
                "example": {}
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/ipsec-profile/{profile_name}": {
      "get": {
        "tags": [
          "Site Management"
        ],
        "summary": "GetIpsecProfile",
        "description": "",
        "operationId": "GetIpsecProfile",
        "parameters": [
          {
            "name": "profile_name",
            "in": "path",
            "description": "Mandatory: Name of ipsec profile.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIpsecProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Site Management"
        ],
        "summary": "DeleteIpsecProfile",
        "description": "",
        "operationId": "DeleteIpsecProfile",
        "parameters": [
          {
            "name": "profile_name",
            "in": "path",
            "description": "Mandatory: Name of the ipsec profile.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {}
                },
                "example": {}
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Site Management"
        ],
        "summary": "UpdateIpsecProfile",
        "description": "",
        "operationId": "UpdateIpsecProfile",
        "parameters": [
          {
            "name": "profile_name",
            "in": "path",
            "description": "Mandatory: Name of ipsec profile.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIpsecProfileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {}
                },
                "example": {}
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/ipsec-profiles": {
      "get": {
        "tags": [
          "Site Management"
        ],
        "summary": "GetIpsecProfileList",
        "description": "",
        "operationId": "GetIpsecProfileList",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIpsecProfileListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/site": {
      "post": {
        "tags": [
          "Site Management"
        ],
        "summary": "CreateSite",
        "description": "",
        "operationId": "CreateSite",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSiteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {}
                },
                "example": {}
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/site/prevalidate": {
      "post": {
        "tags": [
          "Site Management"
        ],
        "summary": "ValidateSiteParams",
        "description": "",
        "operationId": "ValidateSiteParams",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateSiteParamsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ValidateSiteParamsResponse"
                    },
                    {
                      "example": {
                        "response": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "response": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/site/{site_name}": {
      "get": {
        "tags": [
          "Site Management"
        ],
        "summary": "GetSite",
        "description": "",
        "operationId": "GetSite",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "description": "Mandatory: Name of the site to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSiteDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Site Management"
        ],
        "summary": "DeleteSite",
        "description": "",
        "operationId": "DeleteSite",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "description": "Mandatory: Name of the site to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {}
                },
                "example": {}
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Site Management"
        ],
        "summary": "UpdateSite",
        "description": "",
        "operationId": "UpdateSite",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "description": "Mandatory: Name of site to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSiteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {}
                },
                "example": {}
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/site/{site_name}/deploy": {
      "post": {
        "tags": [
          "Site Management"
        ],
        "summary": "DeploySite",
        "description": "",
        "operationId": "DeploySite",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "description": "Mandatory: Name of the site to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeploySiteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {}
                },
                "example": {}
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/sites": {
      "get": {
        "tags": [
          "Site Management"
        ],
        "summary": "GetSiteList",
        "description": "",
        "operationId": "GetSiteList",
        "parameters": [
          {
            "name": "spec.size",
            "in": "query",
            "description": "Optional: Max number of entries to fetch. Sets this limit as 100 by default if left blank.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spec.from",
            "in": "query",
            "description": "Optional: Starting offset of entries to fetch. Starts from 0 if left blank.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSiteListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/tunnel/{tunnel_id}": {
      "get": {
        "tags": [
          "Site Management"
        ],
        "summary": "GetTunnel",
        "description": "",
        "operationId": "GetTunnel",
        "parameters": [
          {
            "name": "tunnel_id",
            "in": "path",
            "description": "Mandatory: ID of tunnel to fetch.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTunnelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/tunnels": {
      "get": {
        "tags": [
          "Site Management"
        ],
        "summary": "ListTunnels",
        "description": "",
        "operationId": "ListTunnels",
        "parameters": [
          {
            "name": "spec.size",
            "in": "query",
[...]
